*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
.main-box{
	margin: 50px 0 auto;
}
.list-gray{
	padding: 20px;
	text-align: left;
	background-color: #c0c0c0;
	width: 960px;
	margin: 0 auto;
}
.list-white{
	padding: 20px;
	text-align: left;
	background-color: #fff;
	width: 960px;
	margin: 0 auto;
}
.boxes{
	margin: 0 auto;
	width: 960px;
	padding:50px 0;
}
.orange{
	background-color: orange;
}
.box{
	width: 30%;
	height: 200px;
	background-color: gold;
	display: inline-block;
	margin-bottom: 40px;
	float: left;
}
.center{
	margin-left: 5%;
	margin-right: 5%;
}
.box-orange{
	width: 30%;
	height: 200px;
	background-color: orange;
	display: inline-block;
	margin-bottom: 40px;
	float: left;
}
.box-s{
	width: 30%;
	height: 200px;
	background-color: gold;
	display: inline-block;
	float: left;
}
.orange{
	width: 30%;
	height: 200px;
	background-color: orange;
	display: inline-block;
	float: left;
}